.card{
    width: 280px;
    height: 500px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 15px 0px;
    border-radius: 10px;
    position: relative;
}
.card .img-cont{
    width: 100%;
    height: 60%;
}
.card .img-cont img{
    width: 100%;
    height: 100%;
}
.card a{
    display: inline-block;
    color: #000;
    font-size: 1.3rem;
    font-weight: 700;
    max-height: 103px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid red; */
}
.card button{
    padding: 7px 18px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 7px;
    width: 85%;
    background-color: transparent;
    background-color: #cac3c4;
    transition: all 0.2s;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    /* border: rgba(0, 0, 0, 0.2) 1px solid; */
    box-shadow: 0px 0px 5px rgb(241, 15, 15);
    border: none;
    outline: none;
}
.card button:hover{
    padding: 8px 20px;
    background-color: aliceblue;
}

@media (max-width: 375px) {
    .card{
        width: 90%;
        height: fit-content;
    }
    .card button{
        position: static;
        
    }
}